.top-bar {
  background: black;
  color: white;
  font-size: 12px;
  padding: 6px 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT */
.top-bar-left {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 75%;
}

/* Button reset */
.top-bar-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.top-bar-btn:hover,
.top-bar-btn:focus,
.top-bar-btn:active {
  background: none;
  outline: none;
  box-shadow: none;
}

.top-bar-btn img {
  width: 10px;
  height: 10px;
  display: block;
}

/* Text */
.top-bar-text {
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* RIGHT */
.top-bar-right {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

/* Links */
.top-bar-right a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.top-bar-right a:hover {
  text-decoration: underline;
}

/* Divider */
.divider {
  opacity: 0.6;
}

/* Location */
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.location img {
  width: 12px;
  height: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* fixed height */
  padding: 0 40px; /* horizontal padding only */
  border-bottom: 1px solid #eee;
  box-sizing: border-box; /* ensures padding doesn't add extra height */
}
.logo {
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

.nav-links a {
  margin: 0 15px;
      font-family: DINPro, "DINPro Fallback", Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
      padding: 16px 0px;

      color: rgb(37, 37, 37);
      cursor: pointer;
      position: relative;
      text-wrap: nowrap;
      text-decoration: none;
    
}

.nav-icons a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}
.nav-icons a img {
  height: 18px;
  /* change this */
  width: auto;
  /* keep aspect ratio */
}

.nav-left a,
.nav-right a {
  line-height: 60px; /* vertically center text inside navbar */
  text-decoration: none;
  color: black;
}
